/* stylelint-disable */
.section-home-slider {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  .button-link {
    max-width: 630px;
    width: 100%;
    position: absolute;
    bottom: 163px;
    left: 50%;
    padding: 0 5px;
    transform: translateX(-50%);

    a {
      padding: 12px 10px;
      display: flex;
      border: 4px solid $white;
      text-transform: uppercase;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: $white;
      background-color: $black;
      font-family: $font-roboto;
      border-radius: 3px;
      font-size: 17px;
      font-weight: 700;
      letter-spacing: 15.2px;
    }


    @include breakpoint(large down) {
      bottom: 240px;
    }

    @include breakpoint(medium down) {
      font-size: 14px;
    }


    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  .container-socials {
    position: relative;

    .block-socials {
      bottom: 155px;
      left: 5px;
      position: absolute;
      display: flex;
      align-items: center;

      @include breakpoint(large down) {
        left: 50%;
        transform: translateX(-50%);
      }


      .item-social {
        width: 50px;
        height: 50px;
        background-color: $black;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 10px;

        &:hover {
          background-color: $white;

          i {
            color: $black;
          }
        }

        i {
          font-size: 37px;
          color: $white;
        }

        & + .item-social {
          margin-left: 13px;
        }
      }
    }
  }


  .slick-dotted.slick-slider {
    margin: 0;
    height: 100vh;
    overflow: hidden;
  }

  .container-gallery {
    background-color: $white;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    position: absolute;

    .block-gallery {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 31px 5px;
      max-width: 1600px;
      margin: 0 auto;
      position: relative;


      &__title {
        font-family: $font-roboto;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        top: 15px;
        left: 5px;
        text-transform: uppercase;
        letter-spacing: 16px;
        color: $grey_2;
        line-height: 1;
      }


      &__item {
        max-width: 300px;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;


        & + .block-gallery__item {
          margin-left: 10px;
        }
      }
    }
  }


  &__block {
    width: 100%;

    .item {
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .slick-dots {
      position: absolute;
      bottom: 244px;

      @include breakpoint(large down) {
        bottom: 328px;
      }

      @include breakpoint(small down) {
        bottom: 350px;
      }


      li {
        margin: 0 6px;
      }

      .slick-active button:before {
        color: $white;
        opacity: 1;
      }

      button {
        &:before {
          color: $white;
          font-size: 17px;
        }
      }
    }
  }
}
